@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #242424;
  -webkit-font-smoothing: antialiased;
  background-image: '2.png';
  color:white;
}

#pageWrapper {
  height: 100%;
  padding: 2em;
}

#searchButton {
  width: 3em;
  padding: 0.3em;
  border-radius: 0;
  border: 1px solid black;
  background-color: black;
}


#userInput {
  width: 30em;
  padding: 0.3em;
  border-radius: 0;
  border: 1px solid white;
}

#searchForm:focus-within {
    border:1px solid steelblue;
  }

#userInput:focus{
    box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75) inset;
    outline: 1px none transparent;
    border: 1px solid black;
}

#searchForm {
    display: inline-flex;
    border:1px solid #242424;
}

#title {
    margin-top: -0.5em;
    font-weight: 900;
    font-size: 4em;
}

video {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    filter: blur(5px);
    opacity: 0.2;
  }

  #filters {
    color: black;
    font-size: 1em;
    padding: 0.3em;
    background-color: silver;
    width: 25%;
  }
  
  #filters input {
    height: 2.3em;
    font-size: 1.08em;
    padding-left: 0.5em;
    border: 1px solid black;
  }
    
  #filters input:focus {
    outline: 1px none transparent;
    border: 1px solid steelblue;
    box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75) inset;
    outline: 1px none transparent;
  }

  #filters [type=checkbox] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    position: relative;
    height: 1em;
  }

  #filterButton{
    padding: 1em;
  }

  #resultsWrapper {
    margin-top: 1em;
    display: flex;
    background-color: rgba(1, 1, 1, 0.5);
    width: 100%;
  }

  #filters p {
    margin-top: 1em;
  }
  
  #results{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: row wrap;
    padding: 0.25em;
    align-items: baseline;
  }
  
  .umbrella {
    margin: 0.25em;
    padding: 0.2em;
    border: 1px solid white;
    width: 10em;
    text-align: center;
  }

  .umbrella img{
    height: 10em;
  }

  .umbrella p {
    font-size: 0.7em;
    text-transform: capitalize;
  }

  .umbrella p.umbrellaModel {
    font-size: 1em;
  }

  .umbrella p.umbrellaPrice {
    font-size: 1.2em;

  }

  .carac {
    color: silver;
    font-size: 0.9em;
  }

